<section
  *ngIf="product()"
  class="max-w-md m-auto h-full grid gap-4 place-content-center justify-center"
>
  <picture class="grid gap-4 justify-items-center items-center">
    <img
      class="rounded-full w-48 h-48 object-cover border aspect-auto"
      [src]="product()?.thumbnail"
      alt="'Imagen del producto.."
    />
    <div class="flex justify-between gap-3">
      <img
        *ngFor="let image of product()?.images | slice : 0 : 3; let i = index"
        class="border rounded-full w-16 h-16 object-cover"
        [src]="image"
        [alt]="
          'Imagen de referencia ' +
          (i + 1) +
          ' del producto ' +
          product()?.title
        "
      />
    </div>
  </picture>

  <article
    class="grid grid-cols-2 grid-rows-2 justify-items-center items-center px-5"
  >
    <h2 class="font-bold text-3xl text-center col-span-2">
      {{ product()?.title }} - {{ product()?.brand }}
    </h2>
    <div class="text-center">
      <h3 class="text-2xl font-bold">
        {{ product()?.price | currency : "USD" }}
      </h3>
      <ng-container [ngPlural]="product()?.stock ?? 0">
        <ng-template ngPluralCase="=0">
          <strong>0 disponibles</strong></ng-template
        >
        <ng-template ngPluralCase="=1">
          <strong>1 disponible</strong></ng-template
        >
        <ng-template ngPluralCase="other">
          <strong>{{ product()?.stock }} disponibles</strong></ng-template
        >
      </ng-container>
    </div>
    <div>⭐⭐⭐⭐⭐</div>
  </article>

  <article class="mt-4 text-sm m-auto flex flex-col gap-9">
    <p>
      {{ product()?.description }}
    </p>
    <div class="flex gap-6">
      <button
        class="text-4xl bg-white/10 rounded-full p-1 hover:bg-white/40"
        (click)="goBack()"
      >
        <ng-container *ngTemplateOutlet="goBackIcon"></ng-container>
      </button>
      <button
        class="flex-1 bg-orange-400 font-bold dark:text-black px-7 py-2 rounded-3xl hover:bg-orange-300 text-lg"
      >
        Añadir al carrito
      </button>
    </div>
  </article>
</section>

<ng-template #goBackIcon>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-arrow-back-up"
    width="44"
    height="44"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M9 14l-4 -4l4 -4" />
    <path d="M5 10h11a4 4 0 1 1 0 8h-1" />
  </svg>
</ng-template>
